<footer class="text-center py-4">
  <div class ="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-f1-white mb-3 d-flex align-items-center justify-content-center gap-2">
          <img src="../assets/f1_logo.png" alt="Logo" width="40" height="40">
        </h4>
        <div class="my-3">
          <a href="https://www.facebook.com/f1" class="text-f1-white mx-2 fs-4"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/f1/" class="text-f1-white mx-2 fs-4"><i class="bi bi-instagram"></i></a>
          <a href="https://www.tiktok.com/f1" class="text-f1-white mx-2 fs-4"><i class="bi bi-tiktok"></i></a>
        </div>
        <p class="small mb-0">&copy; 2026 f1 lovers. Página no oficial.</p>
      </div>
    </div>
  </div>
</footer>